/* RESET */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

  list-style: none;

}

/* UTILITIES */

:root {
  --background-color: #2A3435;
  --accent-color: #F58A8A;
}





.container {
  display: flex;
  flex-direction: row;

}

/*------------------- sidebar ----------------*/
.sidebar {
  background-color: var(--background-color);
  transition: 0.5s;
  width: 0;

  max-width: 175px;

  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-close-button {
  color: white;

  position: absolute;
  right: 0;
  top: 0;
}

.tag-menu {
  margin: 10px;
}

.tag {
  color: white;
  margin: 3px;
  padding: 2px 30px;
  border-radius: 25px;
  display: inline-block;
  border: 2px solid indianred;
}

.settings-menu {
  margin: 8px;
  color: white;
}

.settings-menu li {
  align-items: center;
  flex-direction: row;
}


/*------------------- main menu ----------------*/

.menu {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  background-color: white;

  position: fixed;
  width: 100%;
  min-height: 40px;
  z-index: 0;
}

#note-menu {
  margin-top: 60px;
}

.header h1 {
  font-weight: 200;
}

.note-container {
  display: flex;
  flex-direction: row;
}

.note-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.side {
  width: 40px;
}

.tags-list {
  display: flex;
  flex-direction: row;
}

.tags-list li {
  background-color: indianred;
  margin: 3px;
  padding: 2px 30px;
  border-radius: 25px;
}

.new-doc {
  position: sticky;
  bottom: 10px;
  right: 5px;

  width: 0;
  height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  border: none;
  border-radius: 100%;

  margin-left: auto;
}



/* tillfällig container att ha mitt i skärmen styling under tiden vi fokuserar JS */
.edit {
  background-color: white;

  width: 0;
  max-width: 100%;
  height: 100%;

  position: fixed;
  right: 0;

  overflow-x: hidden;

  flex-direction: column;
}

.icons-menu {
  justify-content: space-between;
}

.tags-bar, .tags-bar ul, .title-bar, .icons-menu, .edit, .settings-menu li {
  display: flex;
}

.title-bar p, .tags-bar p {
  opacity: 0.48;
  font-size: 0.7em;
}

.tags-bar, .title-bar {
  align-items: center;
  margin-bottom: 8px;
}

#note-title {
  border: none;
}

#textarea {
  border: none;
  width: 100%;
  height: 100%;
}

::-webkit-resizer {
  display: none;
}

textarea:focus, input:focus{
  outline: none;
}

.rester {
  visibility: hidden;
}





.edit > * {
  margin: 1em;
}

button {
  padding: 2em;
}

#delete-doc {
  background: red;
}
