/* RESET */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITIES */

/* tillfällig container att ha mitt i skärmen styling under tiden vi fokuserar JS */
.container {
  padding: 2em 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid purple;
}

.container > * {
  margin: 1em;
}

button {
  padding: 2em;
}

#new-doc {
  background: green;
}

#delete-doc {
  background: red;
}
