/* RESET */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

*:not(i) {
  font-family: "Roboto", sans-serif;
}

/* UTILITIES */

:root {
  --background-color: #2a3435;
  --accent-color: #f58a8a;
}

.container {
  display: flex;
  flex-direction: row;
}

/*------------------- sidebar ----------------*/

.sidebar {
  background-color: var(--background-color);
  transition: 0.5s;
  width: 0;

  max-width: 175px;

  height: 100%;
  position: fixed;
  z-index: 10;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.tag-menu {
  margin: 10px;
}

.tag {
  color: white;
  margin: 3px;
  padding: 2px 30px;
  border-radius: 25px;
  display: inline-block;
  border: 2px solid indianred;
}

.settings-menu {
  margin: 8px;
  color: white;
}

.settings-menu li {
  align-items: center;
  flex-direction: row;
}

/*------------------- main menu ----------------*/

.header {
  display: flex;
  justify-content: space-between;

  background-color: white;

  position: fixed;
  width: 100%;
  /* min height bestämmer hela elementets höjd
   och padding i nuläget och verkar göra margin-bottom irrelevant */
  min-height: 40px;
  z-index: 0;
  padding: 0px 10px;
}

.note-list {
  margin-top: 60px;
}

.header h1 {
  font-weight: 200;
}

.note-container {
  display: flex;
}

.note-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-content {
  width: 40px;
  padding: 0px 10px;
}

.tags-list {
  display: flex;
  /* Wrap makes us see all tags in left sidebar*/
  flex-wrap: wrap;
}

.tags-list li {
  background-color: indianred;
  margin: 3px;
  padding: 2px 30px;
  /* om vi vill göra dem mindre/större till olika skärmstorl
    skulle man kunna använda em som mått för padding
    och sen ändra font-storlek i en media query
    och då kommer alla element som har em baserad padding
    att följa font-size i media query å responsivitet till desktop blir två flugor i en smäll
  */
  border-radius: 25px;
}

.new-doc {
  position: sticky;
  bottom: 10px;
  right: 5px;

  width: 0;
  height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  border: none;
  border-radius: 100%;

  margin-left: auto;
}

/* tillfällig container att ha mitt i skärmen styling under tiden vi fokuserar JS */
.editor {
  background-color: white;

  width: 0;
  max-width: 100%;
  height: 100%;

  position: fixed;
  right: 0;

  overflow-x: hidden;

  flex-direction: column;
}

.icons-menu {
  justify-content: space-between;
}

.tags-bar,
.tags-bar ul,
.title-bar,
.icons-menu,
.editor,
.settings-menu li {
  display: flex;
}

.title-bar p,
.tags-bar p {
  opacity: 0.48;
  font-size: 0.7em;
}

.tags-bar,
.title-bar {
  align-items: center;
  margin-bottom: 8px;
}

#note-title {
  border: none;
}

#textarea {
  border: none;
  width: 100%;
  height: 100%;

  font-family: monospace;
}

::-webkit-resizer {
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/*------------------- editor sidebar ----------------*/
.editor > * {
  margin: 1em;
}

.right-sidebar {
  right: 0;
  margin: 0;
}

.right-sidebar-close-button {
  position: absolute;
  left: 0;
  top: 0;
}

button {
  padding: 2em;
}

#delete-doc {
  background: red;
}
